packages:
  hdf5:
    require: "~fortran"
  h5z-zfp:
    require: "~fortran"
  masa:
    require: "~fortran~python"
  parallel-netcdf:
    require: "~fortran"
  hypre:
    require: "~fortran"
  mpi:
    require: "mpich"
  cuda:
    require: "@=12.5.1"
  all:
    compiler: [gcc@12.3.0, clang@17.0.6]
    variants: build_type=Release cuda_arch=80
    target: [zen2]
