packages:
  gcc:
    externals:
      - spec: gcc@12.1.0
        prefix: /opt/rh/gcc-toolset-12/root
        extra_attributes:
          compilers:
            c: /opt/rh/gcc-toolset-12/root/bin/gcc
            cxx: /opt/rh/gcc-toolset-12/root/bin/g++
            fortran: /opt/rh/gcc-toolset-12/root/bin/gfortran
  cray-mpich:
    require: "@=8.1.28"
    buildable: false
    externals:
      - spec: "cray-mpich@=8.1.28%gcc@12.1.0"
        prefix: /opt/cray/pe/mpich/8.1.28/ofi/gnu/10.3
        modules:
          - libfabric/1.15.2.0
  cuda:
    require: "@=12.4.1"
  boost:
    require: "@=1.80.0"
  mpi:
    require: "cray-mpich@8.1.28"
  blas:
    require: "netlib-lapack"
  lapack:
    require: "netlib-lapack"
  all:
    providers:
       c: [gcc@12.1.0]
       cxx: [gcc@12.1.0]
       fortran: [gcc@12.1.0]
    prefer:
      - "build_type=Release"
      - "cuda_arch=90"
